<div class="page page-table" data-ng-controller="EmployeesController as ec">
    <div class="col-md-12">	
		<div class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Employees Table </strong>&nbsp;<a href="javascript:;" data-ng-click="ec.refreshEmployees()" ><i class="fa fa-refresh" ng-class="{'fa-spin': ec.isActive}" ></i></a></div>
			<div class="panel-body" >
				<div class="row" style="text-align:center;">
					<div data-ui-grid="ec.employeesGridOptions" data-ui-grid-selection data-ui-grid-pagination class="employees-grid"></div>
                </div>	
           
				<div class="row">	
					<form name="ec.form_employees" class="form-validation">
                        <fieldset>					
							<div class="callout callout-info">						
								<div class="form-group">
									<label for="ecode" class="col-sm-2">First Name</label>
									<div class="col-sm-4">
										<input type="text" name="ecode" class="form-control input-primary" required data-ng-minlength=1 data-ng-model="ec.employees.Fname">
									</div>
 									<label for="ecode" class="col-sm-2">Last Name</label>
									<div class="col-sm-4">
										<input type="text" name="ecode" class="form-control input-primary" data-ng-model="ec.employees.Lname">
									</div>
                                </div>
                                <div class="space"></div>	
                                <div class="form-group">
                                    <label for="pdesc" class="col-sm-2">Title</label>
									<div class="col-sm-10">
										<input type="text" name="pdesc" class="form-control input-primary" data-ng-model="ec.employees.title3">
									</div>
                                </div>
                                <div class="space"></div>	
                                <div class="form-group">
									<label for="ecode" class="col-sm-2">Phone</label>
									<div class="col-sm-4">
										<input type="phone" name="ecode" class="form-control input-primary"  data-ng-model="ec.employees.phone">
									</div>
                                	<label for="ecode" class="col-sm-2">Email</label>
									<div class="col-sm-4">
										<input type="email" name="ecodedd" class="form-control input-primary" required data-ng-model="ec.employees.email">
                                    </div>
								</div>
								<div class="space"></div>	
								<div class="form-group">
										
									<p>
										<button type="button" ng-click="ec.employeesButtons('A')"  class="btn btn-success">Add</button>
										<button type="button" ng-click="ec.employeesButtons('U')"  class="btn btn-info">Update</button>
										<button type="button" ng-click="ec.employeesButtons('D')"  class="btn btn-warning">Delete</button>
										<button type="button" ng-click="ec.employeesButtons('L')"  class="btn btn-success">List</button>										
										<button type="button" ng-click="ec.clearForm()"          class="btn btn-danger">Clear</button>
									</p>							
								</div>
							</div>
                        </fieldset>	
					</form>								
					<div data-ui-footer></div>						
				</div>			
			</div>	
		</div>
	</div>	
</div>
